transformers>=4.39
peft>=0.10
bitsandbytes>=0.43
datasets>=2.18
sentence-transformers>=2.5
qdrant-client>=1.9
fastapi>=0.110
uvicorn[standard]>=0.29

langfuse~=2.1

torch~=2.7.0
pandas~=2.2.3
scikit-learn~=1.6.1
pymorphy2~=0.9.1
fastembed~=0.6.1
docker~=7.1.0
rank-bm25~=0.2.2